    * {
        margin: 0px;
        padding: 0px;
    }
    
    body {
        position: relative;
        background-image: url("image.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    
    .game_status {
        text-align: center;
        color: red;
        font-size: 16px;
    }
    
    .container {
        position: relative;
        text-align: center;
        margin: 100px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    
    .container1 {
        margin-top: 10px;
        display: inline-flex;
        text-align: center;
    }
    
    .card1 {
        margin-top: 30px;
        font-size: 20px;
        display: block;
        font-weight: bolder;
    }
    
    .card {
        font-size: 20px;
        display: inline-block;
        font-weight: bolder;
        padding-top: 6px;
        padding-left: 6px;
        padding-right: 6px;
        padding-bottom: 2px;
        margin-left: 100px;
        border: 2px solid black;
        border-radius: 10%;
    }
    
    .card:hover {
        transition: 1.02s ease-out;
        transform: scale(1.02, 1.05);
        background-color: black;
        border: 2px solid whitesmoke;
        color: whitesmoke;
    }
    
    label {
        display: inline-block;
        text-align: center;
    }
    
    form {
        position: relative;
        font-size: 20px;
        margin: 30px;
        padding: 30px;
        justify-content: center;
    }
    
    input {
        position: relative;
        background: none;
        border: transparent;
        margin: 10px;
        padding: 10px;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        font-size: large;
    }
    
    input:hover {
        transition: 1.4s ease-out;
        transform: scale(1.02, 1.05);
        border-bottom: 2px solid whitesmoke;
        border-left: 1px solid whitesmoke;
        background-color: black;
        color: whitesmoke;
    }
    
    button {
        position: relative;
        background: none;
        border: 2px solid black;
        margin: 10px;
        padding: 10px;
        font-size: 20px;
        border-radius: 20px;
    }
    
    button:hover {
        transition: 1.4s ease-out;
        transform: scale(1.02, 1.05);
        background-color: black;
        color: whitesmoke;
    }
    
    .board {
        display: flex;
        flex-wrap: wrap;
        width: 200px;
        margin-top: 10px;
        margin-bottom: 20px;
        justify-content: center;
        background-color: black;
    }
    
    .square {
        height: 50px;
        width: 62px;
        border: 2px solid whitesmoke;
        background: none;
        cursor: pointer;
        color: rgb(158, 152, 152);
        font-size: 50px;
        text-align: center;
    }
    
    .square:hover {
        transition: 1.4s ease-out;
        transform: scale(1.05, 1.08);
        box-shadow: 5px 5px 9px rgb(221, 19, 19), rgb(233, 219, 219);
        border: 2px solid rgb(221, 13, 13);
    }
    
    footer {
        padding-top: 200px;
        text-align: center;
        font-weight: bolder;
    }
    
    .footer1 {
        padding-top: 10%;
        text-align: center;
        font-weight: bolder;
    }
    
    @media print {
        body {
            display: none;
        }
    }
    
    @media screen and (max-width: 700px) {
        body {
            font-size: 90%;
        }
        .container1 {
            width: 100%;
            display: block;
        }
        .board {
            margin-left: 4%;
        }
        .card {
            width: 70%;
            margin-left: 2%;
        }
        button {
            background-color: rgb(252, 252, 252);
            color: rgb(0, 0, 0);
        }
        form {
            margin: 3%;
            padding: 3%;
        }
        input {
            margin: 5%;
            padding: 5%;
        }
        .footer1 {
            margin-left: 10%;
            width: 70%;
        }
    }